.stApp{
    background-color: #f0f8ff; /* Light blue sky-like background */
    /* background-image: linear-gradient(to bottom, #d4f0ff, #f8fcff); */
    font-family: 'Arial', sans-serif;
    background-image: url('https://cdn.wallpapersafari.com/19/38/KCh4Qu.jpg');
}
